.body{
    width: 1024px;
    height: 1366px;
}

.text{
    position: absolute;
    width: 400px;
    height: 43px;
    left: 339px;
    top: 56px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.465em;
    color: #60794D;
}

.return{
    position: absolute;
    left: 5.57%;
    right: 91.31%;
    top: 3.59%;
    bottom: 92.31%;
}

.gender .girl{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 355px;
    top: 316px;
}

.gender .boy{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 357px;
    top: 726px;
}